.route--active {
  font-weight: bold;
  text-decoration: underline;
}
#usgsidentifier {
  background-color: black;
  width: 178px;
  height: 5.14em;
  float: left;
}
#usgsbanner {
  width: 100%;
  height: 72px;
}

#usgscolorband {
  font: 14px Verdana, Arial, Helvetica, sans-serif;
  width:  100%;
  height:  5.14em;
  background:  #000 url(https://www.sciencebase.gov/catalog/assets/usgs/images/blue_black-fe85a01835ccc438e0e097dad7a83cfa.jpg) 178px 0px no-repeat;
  minHeight:  72px;
}
